html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    background-color: #F5F6F7;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

div {
	backgound-color: #FFFFFF;
}

/* 폰트 설정 */
body, input, textarea, select, option, button, table {
	font-family: 'NanumSquareRound';
	/* 
	font-family: 'NanumSquareRoundLight';
	font-family: 'NanumSquareRound';		** 사용중 font-weight: 700
	font-family: 'NanumSquareRoundBold';
	font-family: 'NanumSquareRoundExtraBold';
	*/
	font-weight: 700;
	color: rgb(70, 70, 70);
}

/*
	이 reset.css 파일을 다른 css파일에 적용하려면, 맨 윗줄에 넣기
	@import "reset.css";

	1. header.jsp에 적용한 reset.css 때문에 각자 페이지에서 css 작업을 할 때 반영이 안 되는 현상이 나타남.
	2. header.jsp에 reset.css 적용시키면 안 됩니다.
	3. 웹 폰트 링크 태그와 reset.css파일을 자신이 작업하는 페이지에 적용합니다.
	<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../resources/css/reset.css">


	*색상*
	배경 #F5F6F7
	버튼 #2C3E50
	선택 #2C3E50; opacity: 0.65;
	폰트 #F5F6F7
	날씨 #8AAAE5

*/
